/* colors */

/* css reset */

body, html, div, p, span, a, table, tr, td, th, form, ul, ol, li, img, h2 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general styles */

.remove-pointer-events {
  pointer-events: none;
}

body {
  background-color: #F6FBF9;
  font-family: 'Lato', sans-serif;
  font-family: 'Kalam', cursive;
}

html {
  font-size: 10px;
}
@media (max-width: 1200px) {
  html {
    font-size: calc(3px + 0.75vw);
  }
}
@media (max-width: 550px) {
  html {
    font-size: 8px;
  }
}

.dim {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dim .arrow {
    position: absolute;
    top: 50%;
    width: 60px; height: 60px;
    transform: translateY(-50%);
    z-index: 99;
  }

.dim .arrow img {
      width: 100%;
      height: 100%;
      opacity: 0.2;
      transition: opacity 0.8s;
      cursor: pointer;
      z-index: 99;
    }

.dim .arrow img:hover {
      opacity: 1;
    }

.dim .left {
    left: 20px;
  }

.dim .right {
    right: 20px;
  }

.dim .right img {
      transform: rotate(180deg);
    }

.dim .preview {
    width: 100%;
    height: 100%;
    position: relative;
  }

.dim .preview div {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
    }

.dim .preview div img {
        max-height: 100%;
        max-width: 100%;
    }

.dim .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

.dim .close img {
      width: 100%;
      height: 100%;
    }

header {
  width: 95%;
  max-width: 1000px;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2.1rem;
  height: 10.8rem;
}

header .logo {
    width: 10rem;
    height: 10rem;
  }

header .logo img {
      width: 100%;
    }

header nav {
    border-bottom: 2px solid #7BC4A5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 1;
  }

header nav a {
      display: block;
      line-height: 3.3rem;
      text-decoration: none;
      color: #453D3B;
      margin: 0;
      padding: .75rem 1.8rem 
    }

header nav a.activeTab {
  background-color: #7BC4A5;
  color: white;
  border-radius: 24px 24px 0 0;
}

header nav a:hover {
  box-shadow: 0 0 0 2px #dcefe7 inset;
  border-radius: 24px 24px 0 0;
}

header nav a.activeTab:hover {
  box-shadow: none;
}

header .social {
    display: flex;
    align-items: center;
    justify-content: center;
  }

header .social a {
      text-decoration: none;
      transform: translateY(12%)
    }

header .social a:first-child, header .social a:nth-child(2) {
  margin-right: 2rem;
}

header .hamburger {
    display: none;
  }

.page {
  margin: auto;
  width: 95%;
  max-width: 1000px;
}

footer {
  background-color: #EDF7F3;
  padding: 2rem 0;
}

footer a {
    text-decoration: none;
    color: #783E34
  }

footer a:hover {
  text-decoration: underline;
}

footer > div {
    width: 95%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    color: #453D3B;
  }

footer > div ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }

footer > div ul a {
        color: #453D3B;
      }

footer > div div {
      width: 50%;
    }

footer > div div:nth-child(2) {
      text-align: right;
    }

/* main page */

.main {
  margin-top: 4rem;
  position: relative;
}

.main > div:first-child {
    margin-bottom: 4rem;
    position: relative;
  }

.main > div:first-child video {
      display: block;
      max-width: 100%;
    }

.main > div:first-child #play-video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 10rem;
      height: 10rem;
      border: 1px solid transparent;
      border-radius: 50%;
      background-color: white;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 10px;
    }

.main > #events {
      width: 100%;
    }

.main > #events > div:first-child {
        background-color: #7BC4A5;
        font-size: 4.6rem;
        line-height: 10.1rem;
        text-align: center;
        border: 1px solid transparent;
        border-radius: 5px;
        color: #453D3B;
      }

.main > #events #events-content {
          height: 100px;
          overflow: hidden;
        }

.main > #events #events-content .event {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

.main > #events #events-content .event .event-date {
                    width: 16.6666%;
                    background-color: #783E34;
                    padding-top: 16.6666%;
                    position: relative;
                }

.main > #events #events-content .event .event-date span:first-child {
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 58%;
                        font-size: 5rem;
                        line-height: 5rem;
                        color: white;
                        display: flex;
                        align-items: flex-end;
                        justify-content: center;
                    }

.main > #events #events-content .event .event-date span:last-child {
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height:38%;
                        font-size: 2rem;
                        line-height: 2rem;
                        color: white;
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                    }

.main > #events #events-content .event .event-content {
                    width: 83.3333%;
                    font-size: 2.15rem;
                    font-family: "Lato", sans-serif;
                    color: #453D3B;
                    padding: 3rem;
                }

.main > #events #events-content .event .event-content a {
                        color: #7BC4A5;
                    }

.main > #events #events-content .event:nth-child(even) .event-date {
                    background-color: #915B51;
                }

.main > #events > div:nth-child(3) {
            text-align: center;
            font-family: "Lato", sans-serif;
            text-transform: uppercase;
            font-size: 2.2rem;
            line-height: 7.5rem;
            color: #453D3B;
            background-color: #E6E6E6;
            cursor: pointer;
            transition: background-color 0.15s;
            border-radius: 5px;
        }

.main > #events > div:nth-child(3) .triangle {
                display: inline-block;
                width: 0;
                height: 0;
                border-left: 0.5rem solid transparent;
                border-right: 0.5rem solid transparent;
                border-top: 0.9rem solid #453D3B;
                margin-bottom: 0.25rem;
                margin-left: -0.1rem;
            }

.main > #events > div:nth-child(3):hover {
  background-color: #E1E1E1;
  transition: background-color 0.5s;
}

.main > #quote {
    background-color: #EDF7F3;
    height: 44rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    line-height: 5.6rem;
    font-weight: 300;
    padding-left: 10rem;
    padding-right: 10rem;
    width: 500%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 4rem;
  }

.main > #features {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0;
    margin-bottom: 4rem;
  }

.main > #features div {
      height: 100%;
      width: 100%;
      font-size: 2.5rem;
      padding: 5rem 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

.main > #features div svg, .main > #features div img {
      }

.main > #features div span {
        margin-top: 4.5rem;
        text-align: center;
      }

.main > #features div:nth-child(odd) {
  background-color: #453D3B;
  color: white;
}

.main > #features div:nth-child(even) {
  background-color: white;
  color: #453D3B;
}

/* about */

.page-secondary-photo {
  display: none;
}

.about {
  width: 95%;
  max-width: 1000px;
  margin: auto;
  font-family: 'Lato', sans-serif;
}

.about > div {
    font-weight: 300;
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
  }

.about > div div:first-child {
      width: 32.5%;
    }

.about > div div:first-child img {
        width: 100%;
      }

.about > div div:nth-child(2) {
      padding: 2rem;
      width: 65.5%;
      font-size: 2.2rem;
      line-height: 2.7rem;
      font-weight: 300;
      color: #453D3B;
    }

.about > div div:nth-child(2) h2 {
        font-family: 'Kalam', cursive;
        font-size: 2.8rem;
        line-height: 4.5rem;
        color: #783E34;
        margin-top: -2rem;
        margin-bottom: 1.5rem;
      }

.about > div div:nth-child(2) p {
        color: #453D3B;
        margin-bottom: 4rem
      }

.about > div div:nth-child(2) p:last-child {
  margin-bottom: 0;
}

.about > div div:nth-child(2) p span {
          font-weight: 700;
}

.about > div div:nth-child(2) ul {
        margin-left: 2rem;
      }

.about > div div:nth-child(2) ul span {
          font-weight: 700;
          color: #453D3B;
        }

.about > div div:nth-child(2) ol {
        font-weight: 300;
      }

.about > div:nth-child(3) {
    margin-bottom: 2rem;
  }

/* author */

.author {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 95%;
  max-width: 1000px;
  margin: 4rem auto 0;
  font-family: 'Lato', sans-serif;
  margin-bottom: 2rem;
}

.author .author-side {
    width: 49%;
  }

.author .author-side > img {
      width: 100%;
    }

.author .author-side h2 {
      font-size: 2.8rem;
      line-height: 6.7rem;
      color: #783E34;
    }

.author .author-side > div {
      margin: 2rem 0;
      font-size: 1.8rem;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
    }

.author .author-side > div .edu-icon {
        margin-right: 2rem;
      }

.author .author-side > div .edu-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }

.author .author-side > div .edu-text span {
        }

.author .author-side > div .edu-text i {
          font-weight: 300;
        }

.author .author-text {
    width: 49%;
    font-size: 2.2rem;
    line-height: 2.8rem;
    font-weight: 300;
  }

.author .author-text p {
      padding: 2rem;
    }

.author .author-text p a {
        color: #7BC4A5;
        font-weight: 700;
      }

.author .author-text p a:visited {
        color: #a7d8c3;
      }

.author .author-text p a:hover {
        color: #95d0b7;
        text-decoration: none;
      }

.author .author-text p:first-child {
      background-color: #7BC4A5;
      border-radius: 2rem;
      font-family: 'Kalam', cursive;
      color: white;
      font-weight: 700;
    }

/* services */

.services {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.services .services-container {
    font-size: 4rem;
    position: relative;
  }

.services .services-container .services-choose {
      z-index: 3;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgba(69,61,59,.93);
      color: white;
    }

.services .services-container .services-choose .choose {
        user-select: none;
        z-index: 1;
        display: none;
        width: 100%;
        text-align: center;
        font-size: 3rem;
        line-height: 5.6rem;
        cursor: pointer
      }

.services .services-container .services-choose .choose:hover {
  background-color: rgba(169,161,159,.13);
}

.services .services-container .services-choose .choose svg {
          display: none;
          margin-bottom: 0.3rem;
}

.services .services-container .services-choose .active-choice {
        display: block !important;
        order: 1 !important
      }

.services .services-container .services-choose .active-choice:hover {
  background-color: rgba(169,161,159,.13);
}

.services .services-container .services-choose .active-choice svg {
          display: inline-block;
}

.services .services-container .services-choose .tales {
        order: 2;
      }

.services .services-container .services-choose .travel {
        order: 3;
      }

.services .services-container .services-choose .nature {
        order: 4;
      }

.services .services-container .services-choose .choice-visible {
        display: block !important;
      }

.services .services-container .services-main {
      font-family: 'Lato', sans-serif;
      font-size: 2rem;
      font-weight: 400;
      color: white;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: nowrap;
      flex-direction: row;
      overflow-x: hidden;
      overflow: hidden;
      padding: 0;
      margin: 0;
      padding-top: 5.6rem;
      flex: 0 0 auto;
      position: relative;
      background-size: cover;
      background-position: 50% 0;
      text-shadow: 0 0 2px black;
    }

.services .services-container .services-main > div {
        width: 100%;
        min-width: 100%;
        height: 100%;
        padding: 8rem 16.3%;
        z-index: 2;
      }

.services .services-container .services-main .darkening {
        position: absolute;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        margin-top: 5.6rem;
        background-image: radial-gradient(rgba(0,0,0, .9), rgba(0,0,0, .2));
      }

.services .services-container .services-main .first-service {
        margin-left: 0;
        transition: margin-left 0.35s;
      }

.services .services-container .services-main .arrow-left {
        position: absolute;
        top: 50%;
        left: 1rem;
        z-index: 6;
      }

.services .services-container .services-main .arrow-right {
        position: absolute;
        top: 50%;
        right: 1rem;
        z-index: 6;
      }

.services .services-container .tales-full { background-image: url("../img/cykl-1.png"); }

.services .services-container .travel-full { background-image: url("../img/cykl-2.png"); }

.services .services-container .nature-full { background-image: url("../img/cykl-3.png"); }

.services .services-container .services-bottom {
      display: none;
    }

.services .services-container .bottom-active {
      font-family: 'Lato', sans-serif;
      background-color: #453D3B;
      width: 100%;
      display: block;
      font-size: 2rem;
      line-height: 2.7rem;
      color: white;
      font-weight: 300;
      padding: 2rem;
    }

.services #services-conditions {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }

.services #services-conditions div {
      font-size: 2rem;
      line-height: 2.7rem;
      font-weight: 300;
      width: 100%
    }

.services #services-conditions div:nth-child(2) {
  margin-top: 4rem;
}

.services #services-conditions div h3 {
        margin-top: 0;
        color: #783E34;
}

.services #services-conditions div ul, .services #services-conditions div ol {
        font-family: 'Lato', sans-serif;
}

.services #services-conditions div ul li, .services #services-conditions div ol li {
          margin-left: 2.2rem;
        }

.thumbnails-container {
  background-color: #453D3B;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.thumbnails-container .arrow-small {
    cursor: pointer;
    user-select: none;
  }

.thumbnails-container .arrow-small-right {
    transform: rotate(180deg);
  }

.thumbnails-container #thumbnails {
    user-select: none;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
  }

.thumbnails-container #thumbnails > div:nth-child(1) {
      margin-left: 0;
      transition: margin-left 0.35s;
    }

.thumbnails-container #thumbnails .thumb {
      min-width: 19.1%;
      max-width: 19.1%;
      margin-right: 0.8rem;
      filter: saturate(.2);
      transition: filter .5s;
      cursor: zoom-in;
    }

.thumbnails-container #thumbnails .thumb img {
        display: block;
        width: 100%;
      }

.thumbnails-container #thumbnails .thumb:hover {
      filter: saturate(.8);
    }

/* contact */

.contact {
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.contact > div {
    width: 49%
  }

.contact > div:first-child h2 {
        color: #783E34;
        font-size: 4rem;
        line-height: 6.4rem;
}

.contact > div:first-child a {
        color: #407860;
        font-size: 3.4rem;
}

.contact > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #453D3B;
}

#facebook .fb-page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  }

#facebook .fb-page span {
      width:100%;
    }

#facebook .fb-page span iframe {
        width: 100%;
      }
